name: CI

on:
  push:
    branches:
      - master
    tags:
      - v*
  pull_request:
  workflow_dispatch:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        inkscape-ppa:
          - stable
          - stable-1.1
      fail-fast: false
    env:
      DISPLAY: :0
    steps:
      - uses: actions/checkout@v2
      - name: Install tests dependencies
        run: sudo apt-get install -y xvfb
      - name: Install Inkscape
        run: |
          sudo add-apt-repository ppa:inkscape.dev/${{ matrix.inkscape-ppa }}
          sudo apt-get update
          sudo apt-get install -y inkscape
      - name: Start Xvfb in background
        run: sudo /usr/bin/Xvfb $DISPLAY -screen 0 1280x1024x24 &
      - name: Run tests
        run: NO_COLOR=1 sh tests/run.sh

  release:
    name: Release
    if: startsWith(github.ref, 'refs/tags/')
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/checkout@v2
      - name: Zip extension
        run: zip braille-l18n.zip -9 text_braille_l18n.*
      - name: Get tag metadata
        id: tag
        run: |
          TAG_TITLE=${GITHUB_REF#refs/*/}
          echo ::set-output name=title::$TAG_TITLE
          git -c protocol.version=2 fetch --prune --progress \
            --no-recurse-submodules origin \
            +refs/heads/*:refs/remotes/origin/* +refs/tags/*:refs/tags/*
          TAG_BODY="$(git tag -l --format='%(contents)' $TAG_TITLE)"
          TAG_BODY="${TAG_BODY//'%'/'%25'}"
          TAG_BODY="${TAG_BODY//$'\n'/'%0A'}"
          TAG_BODY="${TAG_BODY//$'\r'/'%0D'}"
          echo ::set-output name=body::$TAG_BODY
      - name: Create Release
        uses: actions/create-release@v1.1.4
        id: create-release
        with:
          tag_name: ${{ steps.tag.outputs.title }}
          release_name: ${{ steps.tag.outputs.title }}
          body: ${{ steps.tag.outputs.body }}
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - uses: shogo82148/actions-upload-release-asset@v1.3.0
        name: Upload release assets
        with:
          upload_url: ${{ steps.create-release.outputs.upload_url }}
          asset_path: braille-l18n.zip
